name: automerge

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: write
  pull-requests: write

jobs:
  automerge:
    uses: ivoronin/github-workflows/.github/workflows/automerge.yml@main
    with:
      dependabot: true
    secrets: inherit
