name: release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    uses: ivoronin/github-workflows/.github/workflows/release.yml@main
    with:
      language: go
      brew: true
    secrets: inherit
